v.micah.icu {
    reverse_proxy /api/* api:3456
    reverse_proxy /.well-known/* api:3456
    reverse_proxy /dav/* api:3456
    reverse_proxy frontend:80
}

cockpit.v.micah.icu {
	reverse_proxy host.docker.internal:9090
}

v.micah.icu:2017 {
	respond "Hello, world!"
}